#full-stars
    .rating-group
        input#rating-none.rating__input.rating__input--none(name='rating' value='0' type='radio')
        label.rating__label(aria-label='No rating' for='rating-none')
            i.rating__icon.rating__icon--none.fa-2x.fa.fa-ban
        label.rating__label(aria-label='1 star' for='rating-1')
            i.rating__icon.rating__icon--star.fa-2x.fa.fa-star
        input#rating-1.rating__input(name='rating' value='1' type='radio')
        label.rating__label(aria-label='2 stars' for='rating-2')
            i.rating__icon.rating__icon--star.fa-2x.fa.fa-star
        input#rating-2.rating__input(name='rating' value='2' type='radio')
        label.rating__label(aria-label='3 stars' for='rating-3')
            i.rating__icon.rating__icon--star.fa-2x.fa.fa-star
        input#rating-3.rating__input(name='rating' value='3' type='radio' checked='')
        label.rating__label(aria-label='4 stars' for='rating-4')
            i.rating__icon.rating__icon--star.fa-2x.fa.fa-star
        input#rating-4.rating__input(name='rating' value='4' type='radio')
        label.rating__label(aria-label='5 stars' for='rating-5')
            i.rating__icon.rating__icon--star.fa-2x.fa.fa-star
        input#rating-5.rating__input(name='rating' value='5' type='radio')