
.idea/codeStyles/codeStyleConfig.xml
.idea/GuestBook.iml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations/bin_www.xml
.idea/watcherTasks.xml
.idea/workspace.xml

node_modules