script.
    function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });
        return indexed_array;
    }

    function sendReview(json) {
        $.ajax({
            url: '/review',
            dataType: "text",
            async: false,
            type: 'POST',
            data: json,
            success: function (data) {
                result_animation(true);
                window.localStorage.setItem('activeTab', '#reviews-list');
                window.localStorage.setItem('scrollToPost', data);
                location.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                result_animation(false);
                return false;
            }
        });
    }

    function loading_animation() {
        const button = document.getElementById('sendButton');

        const spinner = document.createElement('i');
        spinner.classList.add('fa-2x', 'fa', 'fa-circle-o-notch', 'fa-spin');
        button.replaceChild(spinner, button.firstChild);
    }

    function result_animation(success) {
        const spinner = document.getElementById('sendButton').firstChild;

        if (success) {
            spinner.classList.remove('fa-spin');
            spinner.classList.replace('fa-circle-o-notch', 'fa-check-circle');
            spinner.style = "color: green";

        } else {
            spinner.classList.remove('fa-spin');
            spinner.classList.replace('fa-circle-o-notch', 'fa-times-circle');
            spinner.style = "color: red";
        }
    }

    $(document).ready(function () {
        $('#review-form').on('submit', function (e) {
            e.preventDefault();
            const json = getFormData($('#review-form')); // getting form-data
            json['sender'] = '#{visitor._id}';
            loading_animation(); // showing loading animation
            sendReview(json); // sending a post request
        });
    });

div.container
    div.row
        div.col-lg-3.col-sm-2
        div.col-lg-6.col-sm-8.rounded-lg.write-form
            form#review-form(action='')
                div.form-group.pb-3.pt-3

                    center
                        font.title overall rating:
                        include ../elements/rating

                    div.has-float-label
                        input.border-effect#inputName(type="text" name='name' placeholder="Enter your name" required).form-control.mb-2
                        label(for="inputName") Name
                        span.focus-border

                    div.has-float-label
                        input.border-effect#inputEmail(type="email" name='email' placeholder="Enter your email").form-control
                        label(for="inputEmail") Email (optional)
                        span.focus-border

                    small#emailHelp.form-text.mb-3.ml-1 We'll never share your email with anyone else.

                    div.has-float-label.mb-2

                        textarea#inputReview(aria-describedby="reviewHelp" style="height: 100px"
                            name='comment' minlength="3" maxlength="500" placeholder="Great place to hangout, and ..."
                            required).form-control

                        label(for="inputReview") Comment (write at last 50 words)

                    div.checkbox.mb-3
                        input(type="checkbox" required)#agreement-box.mr-2
                        label(for="agreement-box") I agree to the #{" "}
                            a(data-target="#agreement-alert" data-toggle="modal") Terms and Conditions

                    div.align-content-end#sendButton
                        button(type="submit").btn.btn-lg.btn-block.btn-outline-light.mb-1 Send

        div.col-lg-3.col-sm-2